#general .btn-group {
    width: 100%;
}

#general .btn {
    width: 50%;
}

label {
    display: inline-block;
}
label.radio {
    display: block;
}

th.version {
    width: 25%;
}
th.apply-format {
    width: 28%;
}

#result {

}


#sponsor {
    text-align: center;
    margin-bottom: 20px;
}
#calogo {
    height: 70px;
}

.bullets {
    width: 100%;
}

.navbar .nav>li {
    width: 20%;

}

select.cla-alert,
input.cla-alert {
    border: 1px solid red;
}

/* #apply-format {
    width: 200px;
} */

.btn-html {
    float: left;
    margin-right: 4px;
}


h2#tmp-title,
h2#tmp-subtitle,
h2#tmp-subtitle-patent
{
        text-align: center;
}
h2#tmp-subtitle-patent {
        margin-bottom: 1em;
}

#tmp-patent-option {
    text-transform: uppercase;
}


span.underline {
}
table.signing {
        width: 60%;
}
table.signing .head {
        width: 20%

}
table.signing .underline {
        border-bottom: 1px solid black;
            width: 80%;
                display: inline-block;

}

section {
    display: block;
}

ul ul {
    margin-bottom: 12px;
}

#embed-esign {
    font-size: 8pt;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
