#result {

}


#sponsor {
    text-align: center;
    margin-bottom: 20px;
}
#calogo {
    height: 70px;
}

.bullets {
    width: 100%;
}

.navbar .nav>li {
    width: 20%;

}

select.cla-alert,
input.cla-alert {
    border: 1px solid red;
}

/* #apply-format {
    width: 200px;
} */

.btn-html {
    float: left;
    margin-right: 4px;
}
